@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost&family=Lato&family=Montserrat:wght@400;700&family=Oleo+Script&family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&display=swap');

.Home_page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(../public/assets/0.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: hidden;
}

.logo>img {
  width: 5rem;
  background-color: white;
  border-radius: 50%;
}

#infinity {
  width: 38rem;
  fill: hsla(120, 100%, 25%, 0.5);
  ;
}

.content {
  padding-left: 8rem;
}

.content>p {
  width: 45rem;
  margin-top: -10%;
  margin-left: -4%;
  font-size: 20px;
  color: #ebe667;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
}

.Navbar {
  display: flex;
  padding: 1rem 8rem 1rem 8rem;
  gap: 30rem;
  /* justify-content: space-around; */
}

.Nav-items {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgba(29, 97, 38, 255);
  gap: 4rem
}

.Nav-items>button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 12px;
  border-radius: 8px;
  border: none;
  /* margin-top: 10%; */
  background-color: #1d6126;
  color: #d9e744;
}

.Text {
  position: absolute;
  width: 22rem;
}

.text-content {
  position: relative;
  color: white;
  text-align: center;
  top: -25rem;
  left: 8rem;
  font-size: 35px;
  color: rgba(255, 255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 2px #919191;
}

.alternative-color {
  color: #fbff4a;
}

.about-us {
  padding: 3rem;
  background-color: rgba(29, 97, 38, 255);
}

.about-us>p {
  color: #fbff4a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

#title {
  font-weight: 300;
}

.cards {
  width: 25rem;
  height: 15rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0 6rem 0 6rem;
  background-color: rgba(254, 255, 205, 255);
  color: #306e34;
}

#environment {
  border-radius: 6rem 0 6rem 0;
}

#energy {
  border-radius: 6rem 0 6rem 0;
}

.card-img {
  position: absolute;
}

.card-img>img {
  position: relative;
  background-color: rgba(254, 255, 205, 255);
  padding: 12px;
  border-radius: 50%;
  border: 3px solid #306e34;
  object-fit: cover;
  top: -6rem;
  left: 9rem;
  width: 6rem;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  color: #e79313;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 1rem 1rem 1rem;
}

.contents {
  /* margin:5rem; */
  margin: 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 7rem 3rem;
}

.services {
  padding: 3rem;
  background-color: rgba(255, 185, 81, 255);
}

.service-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.service-content-text {
  width: 35rem;
  padding: 5rem;
}

.service-content-text>p {
  margin: 5rem 3rem 1rem 1rem;
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight:300;  */
  font-size: 18px;
  color: #4d7a33;
}

.service-content-img>img {
  width: 26rem;
  object-fit: cover;
  box-shadow: rgba(231, 141, 10, 255) 40px 40px 40px;

}

.service-content-title {
  width: 25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 4rem;
  color: #fffffd;
  font-size: 50px;
  margin: 1rem;
}

.content-data {
  width: 10rem;
}

.future_launch {
  background-color: #feffcd;
  height: fit-content;
}

.future_launch>p {
  margin-top: -5%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.content-data-information {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
}

.content-data2 {
  width: 40rem;
  margin-left: auto;
}

.launch-content-text>button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 8px;
  border: none;
  margin-top: 10%;
  background-color: #1d6126;
  color: #d9e744;
}

.launch-content-text {
  width: 35rem;
  /* margin-bottom:5rem; */
  line-height: 2rem
}

.launch-content-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #e79516;
  font-size: 50px;
  margin: 1rem 0 2rem 0;
}

.launch-content-img>img {
  width: 26rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 15px 30px;
}

.testimonial {
  padding: 5rem;
  background: #FFEEEE;
  background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
  background: linear-gradient(to right, #DDEFBB, #FFEEEE);
}

.testimonial>p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #114920;
}

.reviews {
  margin:1rem;
}
.review {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  width: 90%;
}

.review>span {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #114920;
}

.review>p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #114920;
}

.rec.rec-arrow {
  background-color: #114920;
  color: white;
}

.rec.rec-arrow:hover {
  background-color: #e79516 !important;
}

.rec-dot_active {
  background-color: #e79516 !important;
  box-shadow: 0 0 1px 3px #e79516 !important;
}

.awards {
  padding: 5rem;
  background-color: rgba(255, 185, 81, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.award-img>img {
  width: 10rem;
}

.Contact {
  padding: 3rem;
  background-color: rgba(29, 97, 38, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 70px;
  color: white;
  margin-top: 1rem;
}

.contact-sub-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.contact-sub-title>span {
  color: #d9e744;
}

.Contact>button {
  padding: 12px 2rem 12px 2rem;
  background-color: #fbff4a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgba(57, 117, 42, 255);
  margin: 1rem;
  border-radius: 8px;
  border: none;
}

.contact-text {
  margin: 2rem;
  width: 50rem;
  color: white;
  text-align: center;
}

.article-card {
  width: 20rem;
  background-color: white;
}


.article-card>img {
  width: 20rem;
}

.article-content {
  padding: 1rem;
}

.Articles {
  display: flex;
  align-items: center;
  padding: 5rem;
  justify-content: space-evenly;
  margin-top: -6%;
}

.Blog>p {
  text-align: center;
  padding: 5rem;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #306e34;
}

.article-content-title {
  color: #3b7542;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.Blog {
  background: #215f00;
  background: -webkit-linear-gradient(to bottom, #e4e4d9, #215f00);
  background: linear-gradient(to bottom, #e4e4d9, #215f00);
}

.article-publishedOn {
  color: #3b7542;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 8px;
}

.article-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 1rem;
}

.read-more {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
  color: #3b7542;
}

.Footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.About {
  width: 20rem;
  padding: 2rem;
}

.About>p {
  margin-top: 3rem;
  color: #3d7845;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.Social-Links {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2d6c35;
  cursor: pointer;
}

hr {
  width: 8rem
}

.About>img {
  width: 10rem;
}

.Links {
  display: flex;
  gap: 10px;
  margin: 2rem 0;
}

.Quick-links {
  width: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.quick-link-title {
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2d6c35;
}

.quick-link-title>hr {
  width: 7rem;
}

.Quick-links>a {
  margin: 12px 0;
  color: #3d7845;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.Our-services {
  width: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.Our-services-title {
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2d6c35;
}

.Our-services-title>hr {
  width: 6rem;
}

.Our-services>a {
  margin: 12px 0;
  color: #3d7845;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.Contact-address {
  width: 18rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.Contact-address>p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2d6c35;
}

.Contact-address>hr {
  width: 6rem;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 12px 0;
  color: #3d7845;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.Map {
  margin-top: 12px 0;
}

.Map>iframe {
  border: none;
}

.copyrightes {
  padding: 2rem;
  text-align: center;
  background-color: rgba(29, 97, 38, 255);
  color: #f2f6f3;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}
.fa-bars{
color:silver;
font-size:30px;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a{
  text-decoration:none;
}
.Nav-items>a:link,.Nav-items>a:visited,.Nav-items>a:hover{
  color: rgba(29, 97, 38, 255);
}
/* .contact-details>span{
  font-size:200px!important
} */
.contact-details>span>a:link,.contact-details>span>a:visited,.contact-details>span>a:hover{
  color: #3d7845;
}
@media only screen and (max-width:1024px) {
  .Home_page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(../public/assets/0.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .Navbar {
    display: flex;
    padding: 1rem;
    gap:40rem;
    /* gap:1rem; */
    align-items: center;
    width:fit-content;
  }

  .logo>img {
    width: 5rem;
    background-color: white;
    border-radius: 50%;
  }

  #infinity {
    width: 38rem;
    /* margin-top:20rem; */
    fill: hsla(120, 100%, 25%, 0.5);
    ;
  }

  .cards {
    width: 18rem;
  }

  .card-img>img {
    left: 5rem;
  }

  .contents {
    width: auto;
    margin-left: -18px;
  }

  .content-data-information {
    flex-direction: column;
    gap: 3rem;
  }

  .review {
    width: 100%;
  }

  .awards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    width: 100%;
    grid-gap: 7rem 7rem;
  }
  .text-content {
    left: -10px;
    top: -1rem;
    margin: 0px;
  }

  .contact-title {
    font-size: 45px;
  }

  .Articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    /* width:100%; */
    grid-gap: 7rem 7rem;
  }

  .Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    /* width:100%; */
    grid-gap: 3rem 3rem;
  }

  .service-content {
    flex-direction: column;
  }

  @media only screen and (max-width:720px) {
    .Home_page {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(../public/assets/0.jpg);
      background-repeat: no-repeat;
    }

    .contents {
     display:flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin:1rem;
     margin-top:5rem;
    }

    .content>p {
      width: 15rem;
      margin-top: 5%;
      margin-left: 4%;
      font-size: 20px;
      color: #ebe667;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      text-align: center;
    }

    .text-content {
      font-size: 20px;
      left: -10px;
      top: -4rem;
      margin: 0px;
    }

    #infinity {
      width: 18rem;
    }

    .awards {
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     padding:10px;
    }

    .Articles {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      /* width: 100%; */
      grid-gap: 2rem 0;
    }

    .Footer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      /* width: 100%; */
      grid-gap: 2rem 0;
    }

    .contact-text {
      width: 20rem;
    }
  }

  .content {
    padding-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
  }

  .service-content-text {
    width: 25rem;
    padding-top: 1rem;
  }

  .service-content-img>img {
    width: 20rem;
    box-shadow: rgba(231, 141, 10, 255) 20px 15px 40px;
  }

  .launch-content-text {
    width: 18rem;
  }

  .launch-content-title {
    line-height: 4rem;
  }

  .launch-content-img>img {
    width: 20rem;
  }

  .content-data2 {
    width: 25rem;
    margin-left: auto;
  }

  .content-data-information {
    align-items: center;
    justify-content: center;
  }
  .reviews{
    width:22rem;
    margin-left:-4rem;
  }
  .review>img{
   width:12rem;
  }
  .Navbar {
    display: flex;
    padding: 1rem;
    gap:15rem;
    /* gap:1rem; */
    align-items: center;
    width:fit-content;
  }
}